.App {
  text-align: center;
  font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 40;
  line-height: 1.67;
}

.App-logo {
  float: left;
  animation: App-logo-spin infinite 30s linear;
  height: 200px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: black;
  background-color: white;
}

.App-title {
  font-size: 4.5em;
}

.App-intro {
  font-size: large;
}

.Menu h3 {
  text-align: left;
  font-size: large;
  float: left;
  color: black;
  padding: 20px 100px;
}

.Menu h2 {
  text-align: center;
  clear: left;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  justify-content: flex-end;
}

a {
  animation: unhighlight 0.8s;
  color: black;
}

a.Email {
  text-decoration: underline blue;
}

a:hover {
  animation: highlight 0.8s;
  color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes highlight {
  0% {
    color: inherit;
  }
  100% {
    color: blue;
  }
}

@keyframes unhighlight {
  0% {
    color: inherit;
  }
  100% {
    color: black;
  }
}
