.content {
  margin-left: 200px;
  padding: 80px 0px;
}

.section_title {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  font-size: large;
  color: #0092ff;
  letter-spacing: 2px;
}

.section_content {
  font-family: 'Arial';
  margin-top: 50px;
  display: inline-block;
  width: 600px;
  padding-left: 80px;
}

.section_content h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1.2px;
}
