.content {
  margin-left: 200px;
  padding: 80px 0px;
}

.section_title {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: large;
  color: blue;
}

.section_content {
  margin-top: 50px;
  display: inline-block;
  width: 500px;
  padding-left: 80px;
  font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.section_content h3 {
  margin: 0;
}
