.content {
  margin-left: 20%;
}

.section_title {
  vertical-align: top;
  text-align: left;
  font-size: 2em;
  color: rgb(25, 163, 167);
  letter-spacing: 0.2em;
  font-family: 'Arial';
}

#background {
  padding-top: 2em;
  padding-bottom: 0;
}

.section_content {
  font-family: 'Arial';
  display: block;
  align-content: left;
  width: auto;
  padding-left: 3em;
  padding-top: 4em;
  padding-bottom: 4em;
}

.spacer {
  height: 12em;
}

.Explanation {
  display: inline-block;
  vertical-align: top;
  width: 12em;
  font-size: 1.3em;
  font-family: 'Gill Sans';
  font-weight: 200;
  padding-left: 2em;
  padding-right: 4em;
}

.Project_Picture {
  width: 20vw;
  height: 20vw;
  margin-right: 2em;
  display: inline-block;
}

img {
  border-radius: 5vw;
}

@media (max-width: 800px) {
  .content {
    margin-left: 0.5em;
  }

  .Project_Picture {
    width: 30vw;
    height: 30vw;
  }

  .Explanation {
    padding-left: 0;
  }
}
