.Project_Picture {
  width: 50%;
  height: 50%;
  margin-right: 30px;
  display: inline-block;
}

.section_content {
  display: block;
  align-content: left;
}

.Explanation {
  vertical-align: top;
  font-size: medium;
  display: inline-block;
  width: 200px;
}
