.Project_Picture {
  width: 30%;
  height: 30%;
  margin-right: 2em;
  display: inline-block;
}

.section_content {
  display: block;
  align-content: right;
  padding-top: 4em;
  padding-bottom: 4em;
}

.spacer {
  height: 4em;
}

img {
  border-radius: 3em;
}

.Explanation {
  vertical-align: top;
  font-size: medium;
  display: inline-block;
  width: 12em;
}
