.Site {
  text-align: center;
  font-family: 'Arial';
  font-size: 45;
  line-height: 1.67;
  margin-bottom: 50px;
}

.Logo {
  animation: App-logo-spin infinite 10s linear;
  width: 10vw;
  height: 10vw;
  z-index: 5;
  vertical-align: middle;
}

#Logo {
  animation: none;
  border: none;
}

.spacer {
  height: 100px;
}

.Header {
  height: 250px;
  padding: 20px;
}

.App-title {
  font-size: 4.5em;
}

.Menu {
  text-align: left;
  width: 100%;
  height: 8em;
  letter-spacing: 2px;
  font-size: 16px;
  margin: auto;
  text-align: center;
  position: fixed;
  z-index: 5;
  padding-top: 2em;
}

.Menu h3 {
  padding-left: 2em;
  padding-right: 2em;
  display: inline-block;
  font-size: 1.4em;
}

.Intro {
  text-align: center;
  clear: left;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
  padding-top: 200px;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 300;
}

.clear {
  clear: both;
}

.Menu a {
  color: lightgrey;
  text-decoration: none;
  /*border: 0.05em solid white;
  border-radius: 0.3em;*/
  padding: 0.2em;
}

a.Email {
  text-decoration: underline rgb(25, 163, 167);
}

a:hover {
  animation: highlight 0.8s;
  animation-fill-mode: forwards;
}

a.image {
  animation: none;
}

a img {
  opacity: 0.67;
}

img:hover {
  opacity: 1;
}

@keyframes image-hover {
  0% {
    opacity: 0.67;
  }
  100% {
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes highlight {
  0% {
    background-color: inherit;
    color: lightgrey;
  }
  100% {
    background-color: rgb(25, 163, 167);
    color: black;
  }
}

@keyframes unhighlight {
  0% {
    color: blue;
  }
  100% {
    color: lightgrey;
  }
}
