.Site {
  text-align: center;
  font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 40;
  line-height: 1.67;
  margin-bottom: 50px;
}

.Logo {
  float: left;
  animation: App-logo-spin infinite 30s linear;
  height: 200px;
}

.Header {
  height: 250px;
  padding: 20px;
}

.App-title {
  font-size: 4.5em;
}

.App-intro {
  font-size: large;
}

.Menu h3 {
  text-align: left;
  font-size: large;
  float: left;
  color: black;
  padding: 20px 100px;
}

.Intro {
  text-align: center;
  clear: left;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 200px;
  justify-content: flex-end;
}

.clear {
  clear: both;
}

a {
  color: lightgrey;
}

a.Email {
  text-decoration: underline blue;
}

a:hover {
  animation: highlight 0.8s;
  background-color: #0092ff;
}

a.image {
  animation: none;
  background: none;
}

a img {
  opacity: 0.67;
}

img:hover {
  opacity: 1;
}

@keyframes image-hover {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes highlight {
  0% {
    background-color: inherit;
  }
  100% {
    background-color: #0092ff;
  }
}

@keyframes unhighlight {
  0% {
    color: blue;
  }
  100% {
    color: lightgrey;
  }
}
