.skills {
  padding-top: 300px;
  padding-bottom: 100px;
}

.skills_category {
  display: inline-block;
  padding-right: 50px;
}

.skills_category_title {
  font-weight: 800;
}

ul {
  list-style: none;
  padding-left: 0;
}
