.skills {
  padding-top: 300px;
  padding-bottom: 100px;
}

.skills_category {
  display: inline-block;
  padding-right: 4em;
}

.skills_category_title {
  font-size: 1.3em;
  font-family: 'Gill Sans';
}

ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.1em;
  line-height: 1.4em;
  font-family: 'Gill Sans';
}

a {
  padding: 0.2em;
}
